<!DOCTYPE html>

<html lang="en" ng-app="customerManager">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Manager</title>
</head>
<body>
    <div ng-Cloak> 
        <main class="container">
            <div class="row">
                <div ui-view></div>
            </div>
        </main>
        <toaster-container></toaster-container>
    </div>
</body>
</html>
