<!DOCTYPE html>

<html lang="en" ng-app="customerManager">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Manager</title>
    @Styles.Render("~/bundles/csslibs")
    @Scripts.Render("~/bundles/jslibs-header")
</head>
<body>
    <div ng-cloak> 
        <main class="container">
            <div class="row">
                <div ui-view></div>
            </div>
        </main>
        <toaster-container></toaster-container>
    </div>
        @Scripts.Render("~/bundles/jslibs")
        @Scripts.Render("~/bundles/customer-manager-js")
</body>
</html>
